

/* FONTS: */

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #004953;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-variant: small-caps;
    color:rgb(0, 0, 0);
    background-color: rgb(40, 75, 40);
    
}


/* AREAS OF THE PAGE */

body{
    background-color: #004953;
    max-width: 90%;
    margin: auto;

}

.wrap{
    background-color: rgb(42, 53, 45);
}




/* BUTTONS */

a{
    border: 5px;
    border-color: black;
    border-style: solid;
    -ms-transform: translateX(50%);
    transform: translateX(50%);

    margin:20px
}


#link3{
    background-color: rgba(28, 88, 45, 0.5);

    padding:20px;
    
    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:rgb(165, 172, 175);
    
    text-decoration: none;
    
}

#link3:hover{

    background-color: rgba(36, 185, 91, 0.8);

    border:2px;
    border-color:rgb(255, 255, 255);
    border-style: solid;
    
}




  

.hcontainer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border: 3px solid rgb(165, 172, 175);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #004953;
}

.h-center1 {
    margin: 0;
    text-align: center;
    position: relative;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    background-color: #004953;
}

.h-center2 {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 30%;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.buttons {
    display: flex;
    width: 100%;
}
  
.buttons button {
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid var(--border-color);
    color: var(--color-text);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    transition: flex-grow var(--duration) var(--ease);
}
  
